/nbproject/private/
/zad2/.web-server-pid
/zad2/app/config/parameters.yml
/zad2/build/
/zad2/phpunit.xml
/zad2/var/*
!/zad2/var/cache
/zad2/var/cache/*
!zad2var/cache/.gitkeep
!zad2/var/logs
/zad2/var/logs/*
!zad2/var/logs/.gitkeep
!/zad2/var/sessions
/zad2/var/sessions/*
!zad2/var/sessions/.gitkeep
!zad2/var/SymfonyRequirements.php
/zad2/vendor/
/zad2/web/bundles/
